/* :root{
    --green: #25A59E;
    --neutral:#262626;
    --orange:#EE8F39;
}; */

/* .logo{
    width: 100%;
    height: auto;
} */
body {
    background-color: #f4f4f4;
    /* font-family: "Gilda"; */
    margin: 0;
    padding: 0;
    height: 100vh;
    width:100%
}

.wrapper {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 7rem;
    position: relative;
}
.blur {
    /* border: 2px solid red; */
    position: absolute;
  }

 .eclipse {
    position: absolute;
    /* border: 2px solid gold; */
    bottom: -11.6rem;
  }

.heroImage {
    /* border:2px solid palevioletred; */
    position: absolute;
    top:7.75rem;
    
} 

h1 {
    font-family: "Gilda display";
    /* border: 2px solid gold; */
    text-align: center;
    font-weight: 400;
    font-size: 52px;
    margin-top: -1rem;
}

span {
    color:#25A59E ;
}