:root {
  --green: #25A59E;
  --neutral: #262626;
  --orange: #EE8F39;
  --text-color: #595959;
  --light-text: #737373;
  --dark-text: #333333;
  --white: #ffffff;
}

body {
  overflow-x: hidden;
  margin: 0;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

@media (min-width: 1280px) {
  body {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
}

.hero-container1 {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  position: relative;
}

@media screen and (min-width: 894px) {
  .hero-container1 {
    display: none;
  }
}

.hero-container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  
}

@media screen and (min-width: 1280px) {
  .hero-container2 {
    display: flex;
  }
}

.hero-container2 > h1 {
  width: 1200px;
  height: 340px;
  font-size: 170px;
  font-weight: 400;
  line-height: 170px;
  text-align: center;
  margin-bottom: 0px;

}

.blur {
  position: absolute;
  top: 5.2rem;
}

.eclipse {
  position: absolute;
  top: 14.7rem;
}

.heroImage {
  position: absolute;
  top: 12.7rem;
}

.hero-container1 > h1 {
  font-family: "Gilda display";
  text-align: center;
  font-weight: 400;
  font-size: 52px;
  margin-top: 5rem;
}

span {
  color: var(--green);
}

.aboutSection {
  /* padding-top: 180px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  text-wrap: no-wrap;
  gap: 12px;
  margin-top: 100px;

}

.aboutSection .text h1 {
  font-family: "Gilda display";
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  margin: 0;
}

.aboutSection .text p {
  font-family: "urbanist";
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.aboutImages {
  display: flex;
  flex-direction: column;
  gap: 36px;
  justify-content: center;
}

@media screen and (min-width: 1280px) {
  .aboutImages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
  }
}

figure {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "urbanist";
  margin: 0;
  padding: 16px 16px 0px 16px;
  border: 1px #f2f2f2;
  box-shadow: 50.41px 50.41px 98px 0px rgba(55, 54, 100, 0.039);
}


@media screen and (min-width: 740px) {
  figure > img {
    width: 338px;
  }
}

figcaption {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

figcaption:nth-child(2) {
  font-weight: 700;
  font-size: 24px;
  color: var(--neutral);
}

figcaption:nth-child(3) {
  font-weight: 600;
  font-size: 18px;
  color: var(--dark-text);
}

.choose {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 65px;
}

.chooseText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chooseText h2 {
  font-family: "Gilda Display";
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 12px;
  color: var(--neutral);
  max-width: 320px;
  text-align: center;
  line-height: 52px;
}

@media screen and (min-width: 1280px) {
  .chooseText h2 {
    max-width: unset;
    width: 100%;
    font-size: 72px;
    line-height: 84px;
  }
}

.chooseText p {
  font-family: "Urbanist";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
  color: var(--text-color);
}

@media (min-width: 1280px) {
  .chooseText p {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
  }
}

.listCards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 1280px) {
  .listCards {
    flex-direction: row;
    justify-content: space-between;
  }
}

.cardOne, .cardThree {
  padding: 28px 20px 32px 20px;
  border-top: 4px solid var(--green);
  box-shadow: 10px 26px 150px 0 rgba(67, 67, 100, 0.1);
  color: var(--neutral);
}

.cardTwo {
  background-color: var(--green);
  color: var(--white);
  padding: 28px 20px 32px 20px;
  box-shadow: 10px 26px 150px 0 rgba(67, 67, 100, 0.1);
}

.cardOne h2, .cardThree h2, .cardTwo h2 {
  font-family: "Gilda display";
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 8px;
}

.cardOne p:nth-child(2), .cardThree p:nth-child(2) {
  font-family: "Urbanist";
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: var(--light-text);
  margin-top: 0;
}

.cardTwo p:nth-child(2) {
  font-family: "Urbanist";
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  margin-top: 0;
}

.cardOne p:nth-child(3), .cardThree p:nth-child(3) {
  font-family: "Gilda Display";
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: var(--green);
  text-align: end;
}

.cardTwo p:nth-child(3) {
  font-family: "Gilda Display";
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: end;
}

.footCtaSection {
  padding-left: 20px;
  padding-right: 20px;
}

.footCta {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
  margin-top: 80px;
}

@media (min-width:894px) {
  .footCta {
    display: none;
}
}

.footCta2 {
  display: none;
}

@media (min-width: 1280px) {
  .footCta {
    display: none;
  }
  
  .footCta2 {
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin-top: 80px;
  }
}

.footCtaText {
  text-align: left;
}

.footCtaText h2 {
  font-family: "Gilda display";
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: var(--neutral);
  margin-bottom: 8px;
  margin-top: 0;
}

@media (min-width: 1280px) {
  .footCtaText h2 {
    font-size: 72px;
    line-height: 84px;
  }
}

.footCtaText p {
  font-family: "Urbanist";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color);
  margin-top: 0;
}

@media (min-width: 1280px) {
  .footCtaText p {
    font-size: 18px;
    line-height: 32px;
  }
}

.footCtaImg2 {
  display: flex;
}

/* @media (min-width: 1280px) {
  .footCtaImg2 {
    display: none;
  }
} */

.documentary {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.documentary2 {
  display: none;
}

@media screen and (min-width: 894px) {
  .documentary {
    display: none;
  }
  
  .documentary2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    text-align: center;
    font-family: "Gilda display";
  }
}

.documentary > img, .documentary2 > img {
  width: 100vw;
  overflow: hidden;
  height: 100%;
  object-fit: cover;
}

.documentary h2, .documentary2 h2 {
  font-family: "Gilda Display";
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: var(--neutral);
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.ctaSection {
  padding-bottom: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cta {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
  gap: 16px;
  padding-left: 20px;
  padding-right: 20px;
}


.cta h2 {
  font-family: "Gilda Display";
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 0 !important;
}

@media (min-width: 1280px) {
  .cta h2 {
    font-size: 72px;
    line-height: 84px;
  }
}

.border-section {
  width: 100vw !important;
  height: 1px;
  background-color: #d9d9d9;
  margin-bottom: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.logo-FooterWrapper {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 28px;
  padding-left: 20px;
  padding-right: 20px;
}

button {
  background-color: var(--green);
  color: var(--white);
  font-family: "Urbanist";
  font-weight: 400;
  font-size: 15px;
  height: 54px;
  width: 147px;
  padding: 16px 32px;
  border: transparent;
  border-radius: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1e8c86;
}

.logo-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.logo-text img {
  width: 57px;
}

.logo-text p {
  font-family: "Urbanist";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color);
  margin: 0;
  text-align: left;
}

.LogoIcons {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.LogoIcons2 {
  display: none;
}


.LogoIcons-SocialIcons {
  display: flex;
  flex-direction: column;
  gap: 24px;
}


.socialsIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.socialIcons2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  border: 2px solid gold;

}

.socialsIcons div, .socialIcons2 div {
  cursor: pointer;
}

.footerMenu {

  display: flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  /* padding: 0 20px; */
  /* margin: 0 0 20px 0; */
  width: 100%;
  box-sizing: border-box;
}

.footerMenu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin:auto;
  padding: 0px;
}

.footerMenu li {
  font-family: "Urbanist";
  font-weight: 600;
  font-size:16px;
  line-height: 24px;
  list-style: none;
  color: var(--text-color);
  cursor: pointer;
  transition: color 0.3s ease;
  padding: 0;
  margin: 0;
}

.footerMenu li:hover {
  color: var(--green);
}